{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h1>{{firstname}} {{lastname}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Allergy Items</th>
                <th>Added Date</th>
            </tr>
        </thead>
        <tbody>
              {% for food in food_portfolio %}
                <tr>
                    <td>{{ food[0] }}</td>
                    <td>{{ food[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
